@import '../../styles/utils/variables';
@import '../../styles/utils/media';
@import '../../styles/utils/fonts';

.popup {
  .fancybox {
    &__backdrop {
      background: rgb(0 0 0 / 0.65);
    }
    &__content {
      padding: 0;
      background: transparent;
    }
    &__toolbar {
      background: transparent;
    }
    &__slide {
      @include media-laptop {
        padding: 50px 100px;
      }
      @include media-tablet {
        padding: 50px 80px;
      }
      @include media-mobile {
        padding: 40px 10px;
      }
    }
  }
  .carousel {
    &__button {
      &.is-close {
        top: -15px;
        right: -15px;
        transform: translate(50%, -50%);
        width: 30px;
        height: 30px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='54' height='54' viewBox='0 0 127.32 127.32' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' image-rendering='optimizeQuality' fill-rule='evenodd' clip-rule='evenodd'%3E%3Cdefs%3E%3Cstyle%3E.fil0%7Bfill:%23cbcccb;fill-rule:nonzero%7D%3C/style%3E%3C/defs%3E%3Cpath class='fil0' d='M8.9 0l54.76 54.76L118.42 0l8.9 8.9-54.76 54.76 54.76 54.76-8.9 8.9-54.76-54.76L8.9 127.32l-8.9-8.9 54.76-54.76L0 8.9z' id='Слой_x0020_1'/%3E%3C/svg%3E");
        background-size: 14px 14px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        @include media-mobile {
          right: 15px;
        }
        svg {
          display: none;
        }
      }
    }
  }
}
