@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../../fonts/Roboto-Thin.woff2") format("woff2"), url("../../fonts/Roboto-Thin.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../../fonts/Roboto-Light.woff2") format("woff2"), url("../../fonts/Roboto-Light.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Roboto-Regular.woff2") format("woff2"), url("../../fonts/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../fonts/Roboto-Medium.woff2") format("woff2"), url("../../fonts/Roboto-Medium.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/Roboto-Bold.woff2") format("woff2"), url("../../fonts/Roboto-Bold.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../../fonts/Roboto-Black.woff2") format("woff2"), url("../../fonts/Roboto-Black.woff") format("woff");
}
.p-contacts-workers {
  width: 100%;
  max-width: 350px;
  font: 500 16px/1.4 "Roboto", "Arial", sans-serif;
  text-align: center;
  color: #fff;
}
@media (max-width: 768px) {
  .p-contacts-workers {
    max-width: 83vw;
  }
}
.p-contacts-workers__img {
  position: relative;
  padding-top: 149%;
}
.p-contacts-workers__img img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.p-contacts-workers__name {
  margin-top: 5px;
}
.p-contacts-workers__best {
  margin-top: 8px;
  padding: 8px 0;
  border-top: 1px solid;
}
.p-contacts-workers__best span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.p-contacts-workers__best span::before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 20px;
  margin-right: 5px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' width='21px' height='20px' version='1.1' style='shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd' viewBox='0 0 0.33 0.31'%3E%3Cdefs%3E%3Cstyle type='text/css'%3E%3C!%5BCDATA%5B .fil2 %7Bfill:%23EDBD31;fill-rule:nonzero%7D .fil0 %7Bfill:%23F3CC30;fill-rule:nonzero%7D .fil1 %7Bfill:%23F7DB5E;fill-rule:nonzero%7D %5D%5D%3E%3C/style%3E%3C/defs%3E%3Cg id='Слой_x0020_1'%3E%3Cmetadata id='CorelCorpID_0Corel-Layer'/%3E%3Cg id='_2259994646928'%3E%3Cpath class='fil0' d='M0.17 0l0.04 0.1c0.01,0 0.01,0 0.01,0l0.1 0.01c0.01,0.01 0.01,0.01 0.01,0.01l-0.08 0.08c0,0 0,0 0,0l0.02 0.11c0,0 -0.01,0 -0.01,0l-0.09 -0.05c-0.01,0 -0.01,0 -0.01,0l-0.09 0.05c-0.01,0 -0.01,0 -0.01,0l0.02 -0.11c0,0 0,0 0,0l-0.08 -0.08c0,0 0,0 0,-0.01l0.11 -0.01c0,0 0,0 0,0l0.05 -0.1c0,0 0.01,0 0.01,0z'/%3E%3Cpath class='fil1' d='M0.16 0.02l-0.04 0.08c0,0.01 0,0.01 -0.01,0.01l-0.09 0.01 0.1 0c0,0.01 0.01,0 0.01,0l0.03 -0.1z'/%3E%3Cpath class='fil2' d='M0.06 0.29l0 0.02c0,0 0,0 0.01,0l0.09 -0.05c0,0 0,0 0.01,0l0.09 0.05c0,0 0.01,0 0.01,0l-0.02 -0.11c0,0 0,0 0,0l0.08 -0.08c0,0 0,0 -0.01,-0.01l-0.03 0c-0.06,0.1 -0.14,0.15 -0.23,0.18z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}