@import '../../styles/utils/variables';
@import '../../styles/utils/media';
@import '../../styles/utils/fonts';

.benefits {
  display: flex;
  justify-content: center;
  gap: 40px;
  @include media-tablet {
    flex-wrap: wrap;
  }
  @include media-mobile {
    gap: 10px;
  }
  &__item {
    width: 19.4%;
    text-align: center;
    @include media-tablet {
      width: 28.5%;
    }
    @include media-mobile {
      display: flex;
      align-items: center;
      width: 48.4%;
      text-align: start;
    }
  }
  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    margin-bottom: 10px;
    @include media-mobile {
      width: 45px;
      height: 45px;
      margin-right: 5px;
      margin-bottom: 0;
      flex-shrink: 0;
    }
    img {
      display: block;
      max-height: 100%;
    }
  }
  &__title {
    margin-bottom: 10px;
    font: 500 14px/1.3 $font;
    text-transform: uppercase;
    color: $blue;
  }
  &__descr {
    font: 300 14px/1.3 $font;
    @include media-mobile {
      font-size: 12px;
    }
  }
  &--big {
    flex-wrap: wrap;
    gap: 25px;
    @include media-tablet {
      gap: 15px;
    }
    .benefits {
      &__item {
        display: flex;
        align-items: center;
        width: calc((100% - 25px * 2) / 3);
        text-align: left;
        @include media-laptop {
          width: calc((100% - 25px) / 2);
        }
        @include media-tablet {
          width: 100%;
          align-items: flex-start;
        }
      }
      &__icon {
        width: 70px;
        margin-bottom: 0;
        margin-right: 15px;
        flex-shrink: 0;
        @include media-tablet {
          width: 50px;
          height: 50px;
          margin-right: 20px;
        }
      }
      &__title {
        margin-bottom: 5px;
        font-size: 15px;
      }
      &__descr {
        @include media-tablet {
          font-size: 14px;
        }
      }
    }
  }
  &--col-6 {
    .benefits {
      &__item {
        width: 12.8%;
        @include media-tablet {
          width: 28.5%;
        }
        @include media-mobile {
          width: 48.4%;
        }
      }
    }
  }
  &--borders {
    column-gap: 0;
    row-gap: 2px;
    flex-wrap: wrap;
    justify-content: flex-start;
    @include media-mobile {
      row-gap: 10px;
    }
    .benefits {
      &__item {
        width: 25%;
        padding: 10px 20px;
        border: dashed rgba(0 0 0 / 0.7);
        border-width: 0 1px 0 0;
        @include media-laptop {
          width: calc(100% / 3);
        }
        @include media-mobile {
          width: 100%;
          padding: 0;
          border: none;
        }
        &:nth-child(4n + 1) {
          border-width: 0 1px;
          @include media-laptop {
            border-width: 0 1px 0 0;
          }
        }
        &:nth-child(3n + 1) {
          @include media-laptop {
            border-width: 0 1px;
          }
        }
      }
      &__icon {
        margin-bottom: 20px;
        @include media-tablet {
          margin-right: 0;
        }
        @include media-mobile {
          margin-bottom: 0;
          margin-right: 15px;
        }
      }
      &__descr {
        @include media-tablet {
          font-size: 14px;
        }
      }
    }
  }
  &--rows {
    padding: 0 20px;
    flex-direction: column;
    @include media-tablet {
      gap: 20px;
    }
    .benefits {
      &__item {
        display: flex;
        align-items: center;
        width: 100%;
        text-align: start;
      }
      &__icon {
        width: 70px;
        height: 70px;
        margin-right: 20px;
        margin-bottom: 0;
      }
      &__descr {
        @include media-tablet {
          font-size: 14px;
        }
      }
    }
  }
  &--grey-title {
    .benefits {
      &__title {
        color: $grey;
      }
    }
  }
}
