@import '../../styles/utils/variables';
@import '../../styles/utils/media';
@import '../../styles/utils/fonts';

.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }
  @include media-mobile {
    margin-right: -10px;
    margin-left: -10px;
    padding: 0 10px;
    overflow-y: auto;
  }
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    font: 300 12px/1.3 $font;
    white-space: nowrap;
    &:not(:last-child) {
      margin-right: 5px;
      &::after {
        content: '/';
        margin-left: 5px;
        color: $grey;
      }
    }
  }
  &__link {
    color: $grey;
    &:hover {
      color: $blue;
      text-decoration: none;
    }
  }
  &__text {
    color: $blue;
  }
}
