// fonts
$font: 'Roboto', 'Arial', sans-serif;

// colors
$black: #464646;
$blue: #1e4c9a;
$lightBlue: #edf4fc;
$grey: #6f6f6f;
$lightGrey: #c9c9c9;
$red: #cc2121;
$pink: #c6104d;

// media
$mediaWidthLaptop: 1390px;
$mediaWidthTablet: 999px;
$mediaWidthMobile: 768px;

// shadows
$shadow: 0 1px 6px 1px rgb(0 0 0 / 0.06);
