@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../../fonts/Roboto-Thin.woff2") format("woff2"), url("../../fonts/Roboto-Thin.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../../fonts/Roboto-Light.woff2") format("woff2"), url("../../fonts/Roboto-Light.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../fonts/Roboto-Regular.woff2") format("woff2"), url("../../fonts/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../fonts/Roboto-Medium.woff2") format("woff2"), url("../../fonts/Roboto-Medium.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../fonts/Roboto-Bold.woff2") format("woff2"), url("../../fonts/Roboto-Bold.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../../fonts/Roboto-Black.woff2") format("woff2"), url("../../fonts/Roboto-Black.woff") format("woff");
}
.partners {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 130px;
  gap: 15px;
}
@media (max-width: 999px) {
  .partners {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .partners {
    grid-template-columns: 1fr;
  }
}
.partners__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #c9c9c9;
  border-radius: 9px;
  -webkit-box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.06);
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.06);
  overflow: hidden;
}
@media (max-width: 768px) {
  .partners__item {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}
@media (min-width: 769px) {
  .partners__item:hover {
    -webkit-box-shadow: 0 4px 20px 0 rgba(0, 14, 63, 0.25);
    box-shadow: 0 4px 20px 0 rgba(0, 14, 63, 0.25);
  }
  .partners__item:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.partners__item:active {
  -webkit-box-shadow: 0 4px 20px 0 rgba(0, 14, 63, 0.25);
  box-shadow: 0 4px 20px 0 rgba(0, 14, 63, 0.25);
}
.partners__item:active img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.partners__item img {
  display: block;
  max-height: 80%;
  max-width: 80%;
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
}
@media (max-width: 768px) {
  .partners__item img {
    max-height: 75%;
    max-width: 55%;
  }
}